.sidebar-notes {
  background-color: #252526;
  height: 100vh;
  width: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  transition: width 0.3s ease, border-color 0.3s ease;
  margin-right: 10px;
  border: 1px solid;
  border-top: none;
}

.sidebar-notes-btn {
  display: flex;
  justify-content: right;
}

.sidebar-notes.collapsed {
  width: 0;
  padding: 0;
  border-color: transparent;
}

.notes-list {
  margin-top: 10px;
  margin-left: 3px;
}

.sidebar-categories {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 250px;
  padding-right: 8px;
  transition: width 0.3s ease;
}

.upper-sidebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.category-btn {
  display: flex;
  margin-left: 5px;
  justify-content: center;
  align-items: center;
}

#category-list {
  overflow-y: auto;
  overflow-x: hidden;
  transition: width 0.3s ease;
}

#sidebarItem {
  border: 1px solid black;
  padding: 30px;
  margin: 5px;
  min-width: 170px;
  background-color: white;
  cursor: pointer;
  position: relative;
}

#categoryItem {
  overflow-y: scroll;
  text-overflow: ellipsis;
  border: 1px solid black;
  padding: 30px;
  margin: 5px;
  min-width: 170px;
  height: 30px;
  background-color: white;
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
}

#sidebarItem.collapsed {
  transition: padding 0.3s ease-in-out;
  min-width: 170px;
}

#sidebarItem button,
#categoryItem button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  border-radius: 15px;
}

#sidebarItem p,
#categoryItem p {
  margin: 10px;
  font-size: 1.2rem;
  color: black;
  overflow: hidden;
}

#sidebarItem:hover,
#categoryItem:hover {
  background-color: grey;
  transition: background-color 0.1s ease-in-out;
}

#sidebarItem.active,
#categoryItem.active {
  background-color: grey !important;
}

#sidebarItem > button:hover {
  background-color: white;
}
