body.light-mode {
  background-color: beige;
}

p.light-mode {
  color: black;
}

.priorities.light-mode:hover {
  background-color: burlywood;
}

button.light-mode:hover {
  background-color: burlywood;
}

.signature > span.light-mode:hover {
  color: black;
  transition: color 0.2s ease-in-out;
}

.navbar.light-mode {
  background-color: beige;
  color: black;
}

.note.light-mode {
  background-color: white;
  color: black;
}

.note.light-mode:focus {
  border: 1px solid #1e1e1e;
}

.sidebar-notes.light-mode {
  background-color: beige;
}

#sidebarItem.light-mode,
#categoryItem.light-mode {
  background-color: white;
}

#sidebarItem.light-mode:hover,
#categoryItem.light-mode:hover {
  background-color: burlywood;
}

#sidebarItem.light-mode > button.light-mode:hover {
  background-color: white;
}
